body{
    font-family: 'Roboto', sans-serif;
}

.barra_topo{
    display: flex;
    width: 1366px;
    height: 54px;
    align-items: center;
    margin: 0 auto;
}

.icones{
    display: flex;
    width: 118px;
    margin: 0 auto;
}

.icone{
    width: 19.25px;
    height: 19.25px;
    margin: 0 auto;
}

.logo{
    margin-right: 14.58px;
}

.divisoria1{
    border-right: 1px solid #DBDBDB;
    width: 1px;
    height: 22px;
    margin-right: 10px;
}

.logotipo{
    width: 103px;
    height: 29px;
    margin-right: 214px;
}

.box_search{
    display: flex;
    flex-direction: column;
    border: solid #DBDBDB;
    height: 28px;
    width: 215px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    margin-right: 214px;
}

.pesquisar{
    color: #979797;
}

.caixa_stories{
    background-color: hotpink;
    display: flex;
    width: 614px;
    height: 118px;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.stories{
    background-color: slategray;
    margin: 0 auto;
}

.container{
    background-color: blue;
    display: flex;
    flex-direction: row;
}

.content{
    display: flex;
    background-color: green;
    flex-direction: column;
}

.feed{
    background-color: purple;
    width: 935px;
}

.post{
    margin-top: 10px;
    background-color: teal;
    width: 614px;
    margin: 0 auto;
    margin-top: 15px;
}

.foto_perfil{
    background-color: tan;
    height: 60px;
}

.foto{
    width: 612px;
    height: 612px;
}

.icones_do_feed{
    background-color: rosybrown;
    display: flex;
    width: 53px;
    height: 15.13px;
    justify-content: space-between;
}

.sidebar{
    background-color: red;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.sidetxt{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}


.txt_sugestoes{
    display: flex;
    width: 293px;
    justify-content: space-between;
    margin: 0 auto;
}

.txt_sugestoes h1{
    color: #8E8E8E;
    font-weight: 500;
    font-size: 12px;
}

.txt_sugestoes p{
    color: #262626;
    font-weight: 500;
    font-style: 12px;
}

.perfis{
    display: flex;
    justify-content: space-between;
    width: 293px;
    margin: 10px;
}

.txt h1{
    margin-bottom: 6px;
    font-weight: 500;
    color: #262626;
    font-size: 14px;
}

.txt h2{
    color: #8E8E8E;
    font-size: 12px;
    font-weight: 400;
}

.perfis h3{
    color: #139EF2;
    font-weight: 500;
    font-size: 12px;
}