body{
    font-family: 'Roboto', sans-serif;
    color: #FAFAFA;
}

.barra_topo{
    position: relative;
    left: 30px;
    display: flex;
    width: 1366px;
    height: 54px;
    align-items: center;
    margin: 0 auto;
}

.icones{
    position: relative;
    right: 150px;
    display: flex;
    width: 118px;
    margin: 0 auto;
}

.icone{
    width: 19.25px;
    height: 19.25px;
    margin: 0 auto;
    color: #000000;
}

.logo{
    margin-right: 3px;
}

.divisoria1{
    border-right: 1px solid #DBDBDB;
    width: 1px;
    height: 22px;
    margin-right: 7px;
}

.logotipo{
    width: 103px;
    height: 29px;
    margin-right: 214px;
}

.box_search{
    display: flex;
    flex-direction: column;
    border: solid #DBDBDB;
    height: 28px;
    width: 215px;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    margin-right: 214px;
    padding-left: 30px;
    padding-right: 30px;
}

.pesquisar{
    color: #979797;
}

.caixa_stories{
    border: solid 2px #DBDBDB;
    display: flex;
    width: 614px;
    height: 118px;
    color: #FFFFFF;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    position: relative;
    top: 34px;
}

.storie_container{  
    margin: 0 auto;
    position: relative;
}

.stories_background{
    width: 66px;
    height: 66px;
    border-radius: 33px;
    position: absolute;
    bottom: -36px;
    left: -30px;
    transform: translate(42%);
    z-index: 1;
}

.stories{ 
    width: 56px;
    margin: 0 auto;
    position: absolute; 
    top: -25px;
    left: -25px;    
    transform: translate(50%);
    z-index: 2;
}

.stories h1{
    font-size: 12px;
    position: relative;
    font-weight: 400;
    color: #262626;
    top: 5px;
}

.nath h1{
    position: relative;
    right: 10px;
}

.wawa h1{
    position: relative;
    right: 5px;
}

.bark h1{
    position: relative;
    left: 8px;
}

.meow h1{
    position: relative;
    left: 4px;
}

.gag h1{
    position: relative;
    left: 12px;
}

.seta ion-icon{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 745px;
    top: 137px;
    z-index: 8;
}

.container{
    display: flex;
    flex-direction: row;
}

.content{
    display: flex;
    flex-direction: column;
}

.tampa{
    background-color: #FAFAFA;
    position: relative;
    height: 85px;
    width: 28px;
    bottom: 1660px;
    left: 774px;
    z-index: 4;
}

.feed{
    width: 935px;
}

.post{
    border: 2px solid #DBDBDB ;
    margin-top: 10px;
    width: 614px;
    margin: 0 auto;
    position: relative;
    top: 58px;
    margin-bottom: 60px;
}

.foto_perfil{
    display: flex;
    height: 50px;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
}

.foto_perfil img{
    position: relative;
    height: 34px;
    width: 34px;
    left: 17px;
}

.foto_perfil h1{
    font-size: 14px;
    font-weight: 500;
    position: relative;
    right: 220px;
    color: #262626;
}

.foto_perfil ion-icon{
    position: relative;
    right: 29.5px;
    color: #000000;
}

.foto .img{
    width: 612px;
    height: 612px;
}

.icones_do_feed{
    display: flex;
    color: #000000;
    width: 60px;
    height: 15.13px;
    justify-content: space-between;
    margin-top: 7px;
    margin-left: 15.75px;
}

.flag{
    position: relative;
    bottom: 16px;
    left: 585.38px;
    color: #000000; 
}

.inferior{
    display: flex;

}

.inferior img{
    width: 20px;
    height: 20px;
    margin-left: 11px;
    margin-bottom: 10px;
    margin-right: 6px;
}

.inferior h2{
    font-size: 14px;
    font-weight: 400;
    color: #000000;
    position: relative;
    top: 3px;
}

.inferior strong{
    font-weight: bold;
}

.sidebar{
    background-color: #FAFAFA;
    display: flex;
    flex-direction: column;
    /*margin: 0 auto;*/
    position: relative;
    right: 132.7px;
    top: 59.5px;
}

.sidetxt{
    display: flex;
    flex-direction: column;
    /*margin: 0 auto;*/
    position: absolute;
    top: 0;
}


.txt_sugestoes{
    display: flex;
    width: 293px;
    justify-content: space-between;
    margin: 0 auto;
}

.txt_sugestoes h1{
    color: #8E8E8E;
    width: 117px;
    height: 15px;
    font-weight: 500;
    font-size: 12px;
}

.txt_sugestoes h2{
    color: #262626;
    height: 15px;
    font-weight: 500;
    font-size: 12px;
    position: relative;
    left: 6px;
}


.perfil_principal{
    display: flex;
    justify-content: space-between;
    width: 293px;
    margin: 10px;
}

.perfil_principal h1{
    position: relative;
    top: 15px;
    right: 4px;
}

.perfil_principal h2{
    position: relative;
    top: 11px;
    right: 4px;
}

.container_perfis{
    display: flex;
}

.perfis{
    display: flex;
    /*justify-content: space-between;*/
    width: 293px;
    margin: 10px;
    position: relative;
    top: 100px;
}

.txt h1{
    margin-bottom: 6px;
    font-weight: 500;
    color: #262626;
    font-size: 14px;
    margin-left: 11px;
}

.txt h2{
    color: #8E8E8E;
    font-size: 12px;
    width: 143px;
    font-weight: 400;
    margin-left: 11px;
    margin-right: 75px;
}

.perfis h3{
    color: #139EF2;
    width: 36px;
    height: 11px;
    font-weight: 500;
    font-size: 12px;
    position: relative;
    top: 10px;
}

.numsei{
    position: relative;
    width: 300px;
    top: 125px;
    left: 8px;
    z-index: 10;
}

.numsei p{
    font-size: 11px;
    font-weight: 400;
    color: #C7C7C7;
}